In [ ]:
import os
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.manifold import MDS

In [13]:
path = os.path.abspath('D:/Kaiserslautern/Documents/Course content/Thesis/Excel sheets')
data = os.path.join(path, 'main-table17.csv')
df = pd.read_csv(data)
df.head()

,Domain,Phylum,Class,Order,Family,Genus,Species,N.vespillo_b,N.vsps_n,N.vsps_p,...,N.vespilloides_f_lab2,N.vespilloides_f_lab3,N.vespilloides_f_lab4,N.int_f3,N.int_f4,N.vespilloides_m_open4,N.int_m1,N.int_m2,N.int_m3,N.vespillo_f1
0,d__Bacteria,p__Firmicutes,c__Bacilli,o__Lactobacillales,f__Vagococcaceae,g__Vagococcus,__,2019,2477,992,...,1173,3697,2073,7831,4883,1251,4101,2654,2830,10663
1,d__Bacteria,p__Firmicutes,c__Bacilli,o__Lactobacillales,__,__,__,1136,1755,516,...,421,1978,3259,5634,3317,1435,1707,546,775,5779
2,d__Bacteria,p__Proteobacteria,c__Gammaproteobacteria,o__Enterobacterales,f__Morganellaceae,g__Providencia,__,646,745,0,...,0,0,0,0,0,0,0,0,0,0
3,d__Bacteria,p__Patescibacteria,c__Saccharimonadia,o__Saccharimonadales,__,__,__,83,720,688,...,85,392,417,30,93,0,0,0,112,0
4,d__Bacteria,p__Patescibacteria,c__Saccharimonadia,o__Saccharimonadales,f__Saccharimonadales,g__Saccharimonadales,__,0,68,107,...,0,42,39,0,0,0,0,5,0,0

In [15]:
group_1 = ['N.vespillo_b', 'N.vsps_j', 'Yab_fpj_1', 'Yab_fpj_2', 'Yaj_fpb_1']
group_1_df = df[group_1]
group_1_df

     N.vespillo_b  N.vsps_j  Yab_fpj_1  Yab_fpj_2  Yaj_fpb_1
0            2019       966       7062         78       1785
1            1136       390         21       5637        918
2             646      1808       3317       2008         92
3              83      1516          0          0        204
4               0       185          0          0          9
..            ...       ...        ...        ...        ...
449             0         0          0          0          0
450             0         0          0          0          0
451             0         0          0          0          0
452             0         0          0          0          0
453             0         0          0          0          0

[454 rows x 5 columns]